extends layout.pug

block content
  h1 Todo List
  div#todolist
    each item in todoItems
      div.list-item
        a(href="/item/" + item.id)= item.title
  div
    a.button(href="/new") Add a new item