extends layout.pug

block content
  h2= item.title
  p= item.body
  div
    a.button(href="/") Return to main page
  div
    form(action="/item/delete/" + item.id method="POST")
      input.button(type="submit", value="Delete")